<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>修改密码</title>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <p>username: <input type="text" name="username" value="{{ username }}" disabled></p>
    <p>old password: <input type="password" name="old_pas"></p>
    <p>new password: <input type="password" name="new_pas"></p>
    <input type="submit">
</form>
</body>
</html>