{% extends 'home.html' %}

{% block title %}
<h5 class="card-header text-white bg-primary">作者管理<i class="fa-sharp fa-solid fa-user float-right"></i></h5>
{% endblock %}

{% block content %}
<a href="{% url 'adduser' %}" class="btn btn-success" role="button">添加作者</a><hr>
<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr class="text-center">
      <th scope="col">ID</th>
      <th scope="col">姓名</th>
      <th scope="col">年龄</th>
      <th scope="col">电话</th>
      <th scope="col">地址</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    {% for author in user_allset %}
        <tr>
          <td>{{ author.id }}</td>
          <td>{{ author.name }}</td>
          <td>{{ author.age }}</td>
          <td>{{ author.author_detail.phone }}</td>
          <td>{{ author.author_detail.addr }}</td>
          <td class="text-center">
              <a href="{% url 'edituser' author.id %}" class="btn btn-primary btn-sm">编辑</a>
              <a href="{% url 'edituser' author.id %}" class="btn btn-danger btn-sm" style="margin-left: 10px">删除</a>
          </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}