{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <script src="{% static 'jquery.min.js' %}"></script>
  <link href="{% static 'bootstrap-4.6.2/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'bootstrap-4.6.2/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <style>
        .list-group, .card {
            margin-top: 15px;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">图书管理系统</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">主页 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search/" method="get">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="title">
          <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
      </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    管理面板
                  </a>
                  <a href="/" class="list-group-item list-group-item-action">首页</a>
                  <button class="list-group-item list-group-item-action" id="booklist">书籍管理</button>
                  <a href="{% url 'user' %}" class="list-group-item list-group-item-action">作者管理</a>
                  <a href="{% url 'publish' %}" class="list-group-item list-group-item-action">出版社管理</a>
                  <a href="#" class="list-group-item list-group-item-action">系统管理</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card" id="card_id">
                    {% block title %}
                    <h5 class="card-header text-white bg-primary">欢迎使用<i class="fa-sharp fa-solid fa-house float-right"></i></h5>
                    {% endblock %}
                  <div class="card-body">
                      {% block content %}
                      <div class="jumbotron">
                          <h1 class="display-4">欢迎使用最牛逼的图书管理系统</h1>
                          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                          <hr class="my-4">
                          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                          <a class="btn btn-primary btn-lg" href="{% url 'listbook' %}" role="button">开始使用</a>
                      </div>
                       {% endblock %}
                  </div>
                </div>
            </div>
        </div>
    </div>
    <script>
                // 给按钮绑定事件
        $('#booklist').on('click',function () {
        alert('123')
        // 点击按钮朝后端发送post请求
        $.ajax({
            url:'{% url "listbook" %}',  // 控制发送给谁 不写就是朝当前地址提交
            type:'get',  // 发送方式是post请求
            data:'',  // 发送的数据
            success:function (data) {  // data形参用来接收异步提交的结果
                alert(data)
                // 将后端计算好的结果 通过DOM操作 渲染到第三个input矿中
                $('#card_id').html(data)
            }
        })
        })
    </script>
</body>
</html>